/*Contact Me*/
.contact{
  background: #0c576d;
  padding: 70px 0;
}

.contact_container{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  color: #FFF;
}

.contact_title{
  text-align: center;
  font-size: 2.1rem;
  color: #b9efff;
  font-family: 'Titillium Web', Sans-Serif;
}

.contact_email{
  text-align: center;
  font-size: 1.4rem;
  margin: 0 4%;
}

.contact_email>a{
  color: #b9efff;
  /* text-decoration: none; */
}

.contact_email>a:hover{
  color: #8cf971;
  text-decoration: none;
}

.contact_link_or{
  text-align: center;
  margin: 15px 0;
  font-size: 1.2rem;
}

.contact_link_description{
  text-align: center;
  font-size: 1.4rem;
  margin: 0 7% 40px;
}

.contact_link_description>span{
  color: #b9efff;
}

.contact_links{
  width: 300px;
  margin: 10px auto 30px;
}

.contact_links>ul{
  list-style: none;
  display: flex;
  justify-content: space-around; 
  padding: 0px;
  margin: 0 auto;
}

.contact_link{
  width: 70px;
  height: 50px;
}

.contact_link>a{
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
}

.contact_link>a:hover .link_hide{
  display: block;
}

.contact_link img{
  width: 25px;
  height: 25px;
  margin: 0 22.5px;
}

.link_hide{
  display: none;
  text-align: center;
  margin: 5px 0 0;
}

.hide_small{
  display: none !important;
}

.top_link{
  margin: 0 auto;
  color: #b9efff;
  font-size: 1.3rem;
  text-decoration: none;
}

@media only screen and (min-width: 360px){
  /* Contact */
  .contact{
    padding: 100px 0;
  }
}

@media only screen and (min-width: 576px){
  /* contact */
  .contact_title{
    font-size: 2.3rem;
  }

  .contact_container{
    width: 400px;
  }

  .contact_link img{
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 610px){
  /*contact form*/
  .contact_container{
    width: 500px;
  }
}

@media only screen and (min-width: 820px){
  /* Contact */
  .contact_container{
    width: 650px;
  }

  .contact_title{
    font-size: 2.3rem;
  }

  .contact_email{
    font-size: 1.4rem;
    margin: 0 4% 10px;
  }

  .contact_link_or{
    font-size: 1.2rem;
  }

  .contact_link_description{
    margin: 10px 4% 40px;
    font-size: 1.4rem;
  }

  .top_link{
    margin: 15px auto 0;
  }

}

@media only screen and (min-width: 905px){
  /*Contact  */
  .contact_link img{
    width: 32px;
    height: 32px;
    margin: 0 19px;
  }
}

@media only screen and (min-width: 1200px){
  /* Contact */
  .contact_title{
    font-size: 2.5rem;
  }

  .contact_email{
    font-size: 1.8rem;
  }

  .contact_link_or{
    font-size: 1.5rem;
  }

  .contact_link_description{
    font-size: 1.8rem;
  }

  .top_link{
    font-size: 1.6rem;
  }
}