html,body{
  width:100%;
  font-family: 'Roboto', sans-serif;
}

img{
  width:100px;
  height:100px;
}

.main_container{
  display:flex;
  flex-direction:column;
  margin:0px;
}

/* Header nav*/
.main-nav{
  position: fixed;
  width:100%;
}

.main_nav_ul{
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  background-color: #355259;
  padding:1em;
  margin:0px;
}

.main-nav-link{
  margin-right:1em;
}

.main-nav-link>a{
  text-decoration: none;
  color:#D6F3FA;
  font-size:18px;
}

/* header intro*/
.intro{
  background-color:#357483;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  height:50%;
}

.headshot{
  width:200px;
  height:200px;
  margin: 4.2em auto 1em;
}

.h1_name{
  margin: 10px auto;
  color:#D6F3FA;
}

.about{
  color:#D6F3FA;
  line-height: 1.5em;
  display:block;
  margin:0px 0px 0px 0.6em;
  font-weight:300;
}

.about>a{
  font-size:18px;
  color:#D6F3FA;
  text-decoration: none;
  font-weight:bold;
}

.contact-links>ul{
  list-style: none;
  display:flex;
  justify-content:space-around; 
  padding:0px;
  margin:1.5em auto;
}

.contact-link>a{
  text-decoration: none;
  color:#D6F3FA;
  font-size:18px;
}
.contact-link img{
  width:50px;
  height:50px;
}

/**/