html,body{
  width:100%;
  font-family: 'Roboto', sans-serif;
}
/* #143A45
#0c576d */
.main_container{
  display:flex;
  flex-direction:column;
  margin:0px;
}

/* Header nav*/
.main-nav{
  position: fixed;
  width:100%;
  border-bottom: 2px black solid;
}

.main_nav_ul{
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  background-color: #143A45;
  padding:1em;
  margin:0px;
}

.main-nav-link{
  margin-right:1em;
}

.main-nav-link>a{
  text-decoration: none;
  /* color:#355259; */
  color:#FFF;
  font-size:18px;
}

/* Intro */
.intro_background{
  padding: 80px 0 50px;
  background-color: #FFF;
  color: #000;
}

.h1_intro{
  margin: 10px auto;
  font-size:1.7em;
}

.intro_container{
  display: flex;
  flex-direction: column;
}

.skills_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill_container{
  width:100px;
  margin: 10px 0;
}

.skill{
  margin: 10px 0;
  text-align: center;
}

.skill_img{
  display:block;
  width:50px;
  height:50px;
  margin: 0 auto;
}

.empty{
  display:none;
}

/* about me*/
.about_me_background{
  /* background-color:#357483; */
  /* background: linear-gradient(135deg, #000066,60%,blue,#b2b2ff); */
  /* linear-gradient(135deg, #000019,60%,blue,#b2b2ff) */
  /* background: linear-gradient(135deg, #000033,60%,#0000ff,89%,#b2b2ff); */
  background-color: #355259;
  /* height: 40em;  */
  /* height: 36em; */
}
.about_me_container{
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px;
}

.about_container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  /* padding: 10px 0 25px; */
}

.circle_headshot{
  border-radius:50%;
}

.headshot{
  width:150px;
  height:150px;
  margin: 0 auto 1em;
  /* margin: 4.2em auto 1em; */
}

.intro_about{
  display:flex;
  flex-direction: column;
}

.h1_name{
  margin: 20px auto;
  color:#D6F3FA;
  font-size:1.7em;
}

.about{
  color:#FFF;
  line-height: 1.5em;
  display:block;
  margin:2.5% 5%;
  font-weight:400;
}

/*Projects*/
.work{
  display:flex;
  flex-direction: column;
  /* background-color:#D6F3FA; */
  background-color:#FFFFFF;
  /* color:#355259; */
  padding: 70px 0 0;
}

.work_title{
  /* color:#357483; */
  text-align:center;
  margin:20px auto;
  font-size:1.7em;
  width:300px;
  /* padding: 10px 0; */
  /* border-bottom: 1px black solid; */
}

.project{
  display:flex;
  flex-direction: column;
  padding: 1em 0 0 0;
  /* background-color:#355259;
  color:#FFFFFF; */
}

.project_info{
  order:2;
  display:flex;
  flex-direction: column;
}

.project_info>h3{
  order:1;
  /* color:#357483; */
  margin:10px auto;
  font-size: 1.4em;
}

.project_info_image{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin: 10px 10px 50px;
}

.project_info_image>img{
  order:1;
  width:250px;
  height:150px;
  border:1px solid black;
  margin:0px auto 0.3em;
}

.tick_it_pic{
  height: 300px !important;
}

.project_description{
  order:3;
  /* color:#357483; */
  margin: 10px 2.5%;
  line-height: 1.4em;
  font-weight: 400;
}

.project_stack{
  order:2;
  display:flex;
  justify-content: center;
  list-style: none;
  padding:0;
  margin:0;
}

.project_stack_item{
  /* color:#357483; */
  padding:10px;
}

.project_stack_item>img{
  width:25px;
  height:25px;
}

.stack_description{
  font-size:10px;
  margin:0px;
  display:none;
  width:20px;
}

.project1_html:hover .stack_description{
  display:block;
} 

.project1_css:hover .stack_description{
  display:block;
}

.project1_react:hover .stack_description{
  display:block;
}

.project1_redux:hover .stack_description{
  display:block;
}

.project1_nodejs:hover .stack_description{
  display:block;
}

.project1_mongodb:hover .stack_description{
  display:block;
}

.project2_html:hover .stack_description{
  display:block;
} 

.project2_css:hover .stack_description{
  display:block;
}

.project2_react:hover .stack_description{
  display:block;
} 

.project2_redux:hover .stack_description{
  display:block;
} 

.project2_nodejs:hover .stack_description{
  display:block;
} 

.project2_mongodb:hover .stack_description{
  display:block;
} 

.project3_html:hover .stack_description{
  display:block;
}

.project3_css:hover .stack_description{
  display:block;
}

.project3_jquery:hover .stack_description{
  display:block;
}

.project3_momentjs:hover .stack_description{
  display:block;
}

.project4_react:hover .stack_description{
  display:block;
}

.project4_redux:hover .stack_description{
  display:block;
}

.project4_nodejs:hover .stack_description{
  display:block;
}

.project_links{
  order:3;
}

.project_links>ul{
  display:flex;
  /* justify-content: space-around; */
  list-style: none;
  padding:0 0;
  /* margin:1em auto; */
}

.project_links>ul>li{
  /* border: 1px #357483 solid; */
  border-radius: 6px;
  padding:10px;
  margin: 0em auto; 
}

.wasteland_bg{
  background-color: #140646;
}

.wasteland{
  color:#140646;
}
.yinelemek_bg{
  background-color:#f44336;
}

.yinelemek{
  color:#f44336;
}

.tick_it_bg{
  background-color:#5bc0be;
}

.tick_it{
  color:#5bc0be;
}

.weather_bg{
  background-color: #2b4839;
}

.weather{
  color: #2b4839;
}

.sf_crime_bg{
  background-color: #337ab7;
}

.sf_crime{
  color:#337ab7;
}

.project_links>ul>li:hover{
  box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  -moz-box-shadow: 5px 5px 5px #888888;
}

.project_links>ul>.project_link_live{
  margin-right:10px;
}

.project_links>ul>.project_link_github{
  margin-left:10px;
}

.project_link>a{
  /* color:#357483; */
  text-decoration: none;
  padding:10px;
  color: #FFF;
}

.project_link_live:hover, .project_link_github:hover{
  /* background-color:#357483; */
  background-color:#355259;
}

.project_link_live:hover a, .project_link_github:hover a{
  /* color:#D6F3FA; */
  color:#FFFFFF;
}

.open_source{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 10px 0 20px;
}

.open_title{
  /* color:#357483; */
  text-align:center;
  margin:20px auto;
  font-size:1.7em;
  /* padding: 10px 0; */
  /* border-bottom: 1px black solid; */
}


/*Contact Me*/
.contact{
  /* background-color:#357483; */
  /* background: linear-gradient(135deg, #000033,60%,#0000ff,89%,#b2b2ff); */
  /* height: 36em; */
  background: #0c576d;
  padding: 70px 0;
}

.contact_container{
  display:flex;
  flex-direction: column;
  width:300px;
  height:400px;
  margin: 0 auto;
  color:#D6F3FA;
}

.contact_title{
  text-align: center;
  font-size:1.8em;
}

.contact_email{
  text-align:center;
  font-size:1.2em;
  margin:0 4% 5px;
}

.contact_link_or{
  text-align:center;
  margin:10px 0;
  font-size:1em;
}

.contact_link_description{
  text-align:center;
  font-size:1.2em;
  margin: 5px 4% 0px;
}

.contact_links{
  margin-top: 20px;
}

.contact_links>ul{
  list-style: none;
  display:flex;
  justify-content:space-around; 
  padding:0px;
  margin:1.5em auto;
}

.contact_link>a{
  text-decoration: none;
  color:#D6F3FA;
  font-size:18px;
}

.contact_link img{
  width:25px;
  height:25px;
}

.top_link{
  margin: 20px auto;
  color: #D6F3FA;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (min-width:360px){
  .project_description{
    line-height: 1.5em;
    font-size: 1.1em;
  }

  .contact{
    /* height: 30em; */
    padding: 100px 0;
  }
}

@media only screen and (min-width:383px){
  .about_me_background{
    height:41em;
  }

  .about{
    font-size:1.1em;
    margin: 3.5% 5%;
  }
  /*Projects*/
  /* .project_description{
    text-align: center;
  } */
}

@media only screen and (min-width:400px){
  .empty{
    display:block;
  }

  .about{
    font-size: 1.2em;
  }
}
  
@media only screen and (min-width:500px){
  .project_info_image>img{
    width:350px;
    height:250px;
  }

  .tick_it_pic{
    height: 400px !important;
  }

  .project_info>h3{
    font-size:1.6em;
  }
}

@media only screen and (min-width:517px){
  .empty{
    display:none;
  }
}

@media only screen and (min-width:576px){
  /*header intro*/
  .about_me_background{
    height:44em;
  }

  .about_container{
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0 25px;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 90%;
  }

  .about{
    margin: 1.5% 5%;
    font-size: 1.4em;
  }

  .headshot{
    width:200px;
    height:200px;
    margin:1em auto;

  }

  .h1_name{
    margin:0 auto;
    font-size:2.3em;
  }

  /* projects*/
  .work_title{
    font-size:2.3em;
  }
  
  .work>h2{
    margin:20px auto;
  }

  .project{
    margin:0 auto;
    width:90%;
  }

  /* .project_info_image>img{
    width:300px;
    height:200px;
  }

  .tick_it_pic{
    height: 350px !important;
  } */

  .project_info{
    margin: 0 auto;
  }

  .project_description{
    margin: 0px 5% 0 5%;
    text-align:left;
  }

  .open_title{
    font-size:2.3em;
  }
}

@media only screen and (min-width:610px){
  .skills_container{
    margin: 0 auto;
    width: 583px;
  }
  
  /*projects*/
  /* .project{
    width:70%;
  } */

  /*contact form*/
  .contact_container{
    width:420px;
  }
}

@media only screen and (min-width:650px){
  .about{
    font-size: 1.5em;
  }
}

@media only screen and (min-width:820px){
  /*Projects*/
  .project_info_image{
    flex-direction:row;
    flex-wrap:nowrap;
    margin:0 0 0 2.5%;
  }
}

@media only screen and (min-width:880px){
  /*Projects*/
  .project{
    width:80%;
  }
}

@media only screen and (min-width:900px){
  /*header intro*/
  .about_container{
    width:80%;
    /* margin: 0 auto; */
    /* padding: 200px 0; */
    height: 15em;
  }
}

@media only screen and (min-width:1000px){
  /*Projects*/
  /* .work{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work>h2{
    width:100%;
  } */

  .project{
    margin: 0px auto 20px;
  }
}

@media only screen and (min-width:1020px){
  .skills_container{
    width: initial;
  }
}