/*Projects*/
.work{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 0 0 20px;
}

.work_title{
  text-align: center;
  margin: 20px auto;
  font-size: 2.1rem;
  width: 300px;
  font-family: 'Titillium Web', Sans-Serif;
}

.project{
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
}

.project_info{
  order: 2;
  display: flex;
  flex-direction: column;
}

.project_info>h3{
  order: 1;
  margin: 10px auto;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Titillium Web', Sans-Serif;
}

.project_info_image{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 10px 50px;
}

.project_info_image>img{
  order: 1;
  width: 250px;
  height: 150px;
  border: 1px solid black;
  margin: 0px auto 0.3rem;
}

.project_description{
  order: 3;
  margin: 10px 2.5%;
  line-height: 1.4em;
  font-size: 1.2rem;
  text-align: justify;
}

.project_stack{
  order: 2;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.project_stack_item{
  padding: 10px;
  height: 30px;
}

.project_stack_item>img{
  width: 25px;
  height: 25px;
}

.stack_description{
  font-size: 10px;
  margin: 0px;
  display: none;
  width: 20px;
}

.project1:hover .stack_description{
  display: block;
} 

.project2:hover .stack_description{
  display: block;
} 

.project3:hover .stack_description{
  display: block;
} 

.project4:hover .stack_description{
  display: block;
} 

.project5:hover .stack_description{
  display: block;
} 

.project_links{
  order: 3;
}

.project_links>ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.project_links>ul>li{
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto; 
}

.wasteland_bg{
  background-color: #140646;
}

.wasteland{
  color: #140646;
}
.yinelemek_bg{
  background-color: #f44336;
}

.yinelemek{
  color: #f44336;
}

.tick_it_bg{
  background-color: #5bc0be;
}

.tick_it{
  color: #5bc0be;
}

.weather_bg{
  background-color: #2b4839;
}

.weather{
  color: #2b4839;
}

.sf_crime_bg{
  background-color: #337ab7;
}

.sf_crime{
  color: #337ab7;
}

.project_links>ul>li:hover{
  box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  -moz-box-shadow: 5px 5px 5px #888888;
}

.project_links>ul>.project_link_live{
  margin-right: 10px;
}

.project_links>ul>.project_link_github{
  margin-left: 10px;
}

.project_link>a{
  text-decoration: none;
  padding: 10px;
  color: #FFF;
}

.project_link_live:hover, .project_link_github:hover{
  background-color: #355259;
}

.project_link_live:hover a, .project_link_github:hover a{
  color: #FFF;
}

.open_source{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 70px 0 0;
}

.open_title{
  font-family: 'Titillium Web', Sans-Serif;
  text-align: center;
  margin: 20px auto;
  font-size: 2.1rem;
}

@media only screen and (min-width: 360px){
  /* Project */
  .project_description{
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 500px){
  /* Projects */
  .project_info_image>img{
    width: 357px;
    height: 250px;
    margin: 0px auto 1rem;
  }

  .project_info>h3{
    font-size: 1.6rem;
  }

  .project_stack_item{
    width: 50px;
    height: 45px;
  }

  .project_stack_item>img{
    width: 35px;
    height: 35px;
    margin: 0 7px;
  }

  .stack_description{
    margin: 0 auto;
    width: initial;
    text-align: center;
  }
}

@media only screen and (min-width: 576px){
  /* projects*/
  .work_title{
    font-size: 2.3rem;
  }
  
  .work>h2{
    margin: 20px auto 40px;
  }

  .project{
    margin: 0 auto;
    width: 90%;
  }

  .project_info{
    margin: 0 auto;
  }

  .project_description{
    margin: 15px 5%;
    max-width: 650px;
  }

  .open_title{
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 650px){
  /* Projects */
  .work>h2{
    margin: 20px auto 60px;
  }

  .open_title{
    margin: 20px auto 60px;
  }
}

@media only screen and (min-width: 820px){
  /*Projects*/
  .project{
    width: 100%;
  }
}

@media only screen and (min-width: 1010px){
  /*Projects*/
  .project{
    margin: 0px auto 40px;
  }

  .project_info{
    width: 43%;
    margin: auto 5%;
  }

  .project_info>h3{
    margin: 0 10px 10px;
    text-align: left;
  }

  .project_info_image{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .project_info_image>img{
    width: 429px;
    height: 300px;
    margin: 0 auto 0 5%;
  }

  .project_stack{
    justify-content: initial;
  }

  .project_stack_item{
    padding: 5px;
  }

  .project_description{
    margin: 20px 0px 10px 10px;
    font-size: 1.1rem;
  }

  .project_links>ul>li{
    margin: 0 10px;
  }
}

/* @media only screen and (min-width: 1070px){
  .project_info{
    margin: auto 0 auto 5%
  }  
} */

@media only screen and (min-width: 1200px){
  /* Project */
  /* .project_info{
    width: 50%;
    margin: auto 0 auto 7%;
  }

  .project_info_image{
    width: 90%;
    margin: 0 auto 60px;
  }

  .project_info_image>img{
    margin: 0 5% 0 2%;
    width: 500px;
    height: 350px;
  }

  .project_stack_item>p{
    font-size: 0.8rem;
  }

  .project_info>h3{
    font-size: 1.8rem;
  }

  .project_description{
    font-size: 1.3rem;
  }

  .work_title{
    font-size: 2.5rem;
  }

  .open_title{
    font-size: 2.5rem;
  } */
}

@media only screen and (min-width: 1300px) {
  /* Project */
  /* .project_description{
    margin: 20px 30px 10px 10px;
  } */
}

@media only screen and (min-width: 1500px) {
  /* Project */
  /* .project_info_image>img{
    margin: 0 auto;
  } */
}